<% provide(:singer_active, 'active')%>

<% if user_signed_in? %>
  <div class="col-md text-center"'>
    <h1 class="text-center">Singers | <%= link_to 'Add', new_singer_path , :class => "btn btn-success btn-lg"%></h1> 
  </div>
<%end%>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Singername</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @singers.each do |singer| %>
      <tr>
        <td><%= singer.name %></td>
        <td><%= singer.singerName %></td>
        <td><%= link_to 'Show', singer, :class => "btn btn-outline-success"%></td>
        <% if user_signed_in? %>
          <td><%= link_to 'Edit', edit_singer_path(singer), :class => "btn btn-outline-info" %></td>
          <td><%= link_to 'Destroy', singer, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-outline-danger" %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

