<% provide(:singer_active, 'active')%>
<div class="card text-center">
  <div class="card-header">

    <p>
  	<strong>Name:</strong>
	<%= @singer.name %>
	</p>

  </div>

  <div class="card-block">
    <%= image_tag @singer.avatar.url(:medium) , :class=> "img-circular" %> 
  </div>

  <div class="card-footer text-muted">

    <p>
  		<strong>Singername:</strong>
		<%= @singer.singerName %>
	</p>

  </div>
</div>

<br>

<div class="col-md text-center"'>
<%= link_to 'Edit', edit_singer_path(@singer) , :class => "btn btn-outline-info btn-lg "%> |
<%= link_to 'Back', singers_path , :class => "btn btn-outline-danger btn-lg "%>
</div>